h1 {
	font-family : Arial, Helvetica, "Trebuchet MS", Verdana, sans-serif;
	}

h2 {
	font-family : Arial, Helvetica, "Trebuchet MS", Verdana, sans-serif;
	}

h3 { /*blue*/
	color         : rgb(0, 44, 95);
	margin-bottom : 0.9em;
	font          : normal 0.9em Arial, Helvetica, "Trebuchet MS", Verdana, sans-serif;

	}

h4 { /*red*/
	color         : rgb(222, 57, 25);
	margin-bottom : 0.9em;
	font          : normal 0.9em Arial, Helvetica, "Trebuchet MS", Verdana, sans-serif;
	}

p { /*normal text*/
	font : normal 0.9em Arial, Helvetica, "Trebuchet MS", Verdana, sans-serif;

	}

table {
	width        : 90%;
	padding      : 5px;
	border       : solid;
	border-width : 2px;
	border-style : solid;
	border-color : black;
	text-align   : left;
	/*margin: 20px 10px 10px 10px; */
	empty-cells  : show;
	}

table td {
	border       : solid;
	border-width : 1px;
	border-style : solid;
	border-color : black;
	text-align   : left;
	}

/*
	conf.formatblock =
  										{
    										"&amp;mdash; format &amp;mdash;": "",
    										"Heading 1": "h1",
    										"Heading 2": "h2",
    										"Normal"   : "p",
    										"Blue"  : "h3",
    										"Red": "h4"
  */
