table.sortableTable {
	width           : 900px; /* = 100%, but has to be absolute because ie is bad in maths (cells will overlap because of margins and paddings)...*/
	margin          : 0px 0px 0px 0px;
	border          : 1px solid rgb(205, 199, 193);
	border-collapse : collapse;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	}

table.sortableTable th {
	font           : bold 8.5pt Arial, Helvetica, "Trebuchet MS", Verdana, sans-serif;
	border-right   : 1px solid rgb(205, 199, 193);
	border-left    : 1px solid rgb(189, 181, 172);
	text-align     : left;
	padding        : 3px 3px 3px 3px;
	background     : rgb(219, 219, 219);
	color          : rgb(78, 78, 78);
	vertical-align : middle;
	}

table.sortableTable td.footer {
	font           : bold 8.5pt Arial, Helvetica, "Trebuchet MS", Verdana, sans-serif;
	border-right : 1px solid rgb(205, 199, 193);
	border-left  : 1px solid rgb(189, 181, 172);
	text-align     : left;
	padding        : 3px 3px 3px 3px;
	background     : rgb(219, 219, 219);
	color          : rgb(78, 78, 78);
	vertical-align : middle;
	border-top     : solid;
	}

table.sortableTable th.sortable,
table.sortableTable th.sortable-text,
table.sortableTable th.sortable-date,
table.sortableTable th.sortable-keep,
table.sortableTable th.sortable-date-dmy,
table.sortableTable th.sortable-numeric,
table.sortableTable th.sortable-currency,
table.sortableTable th.sortable-sortByTwelveHourTimestamp,
table.sortableTable th.sortable-sortIPAddress,
table.sortableTable th.sortable-sortEnglishLonghandDateFormat,
table.sortableTable th.sortable-sortScientificNotation,
table.sortableTable th.sortable-sortImage,
table.sortableTable th.sortable-sortFileSize {
	cursor     : pointer;
	background : rgb(219, 219, 219) url(/assets/images/sort_sortable.gif) no-repeat left center;
	padding    : 3px 3px 3px 16px;
	}

table.sortableTable th.forwardSort {
	background : rgb(222, 218, 213) url(/assets/images/sort_down1.gif) no-repeat left center;
	}

table.sortableTable th.reverseSort {
	background : rgb(222, 218, 213) url(/assets/images/sort_up1.gif) no-repeat left center;
	}

/* These styles should be added when very long tables are expected */
table.sortableTable th.sort-active {
	background : url(/assets/images/sort_sorting.gif) no-repeat left center;
	cursor     : wait;
	}

table.sortableTable th.sort-active a {
	cursor : wait;
	}

table.sortableTable th a {
	color           : rgb(78, 78, 78);
	text-decoration : none;
	}

table.sortableTable tr {
	background : white;
	}

table.sortableTable tr.alt {
	background : rgb(238, 236, 234);
	}

table.sortableTable tr.highlighted {
	background : rgb(247, 211, 159);
	}

table.sortableTable tr.select {
	background : #D28A8A;
	}

table.sortableTable tr.selectAlt {
	background : #D28A8A;
	}

table.sortableTable td {
	font         : normal 9pt Arial, Helvetica, "Trebuchet MS", Verdana, sans-serif;
	border-right : 1px solid rgb(222, 218, 213);
	padding      : 3px 3px 3px 3px;
	}

table.sortableTable td a {
	text-decoration : none;
	color           : rgb(0, 44, 95);
	}

table.sortableTable td img {
	border         : none;
	text-align     : center;
	vertical-align : middle;
	empty-cells    : show;
	}

table.sortableTable td.lft {
	text-align : left;
	}

table.sortableTable td.total {
	border-top     : 0;
	border-left    : 0;
	border-right   : 1px solid rgb(205, 199, 193);
	background     : none;
	text-align     : right;
	font-weight    : bold;
	text-transform : uppercase;
	letter-spacing : 1px;
	}

table.sortableTable td.sized1 {
	width      : 16em;
	text-align : left;
	}

table.sortableTable td.sized2 {
	width      : 10em;
	text-align : left;
	}

table.sortableTable td.sized3 {
	width      : 7em;
	text-align : left;
	}

ul.tablePaginaterTop {
	display        : block;
	list-style     : none;
	padding        : 10px;
	margin         : 1em 0 0 0;
	text-align     : center;
	vertical-align : middle;
	}

ul.tablePaginaterBottom {
	display    : block;
	list-style : none;
	padding    : 0;
	margin     : 0 0 1em 0;
	text-align : center;
	}

ul.tablePaginaterTop li,
ul.tablePaginaterBottom li {
	display        : inline;
	width          : 1.5em;
	height         : 1.5em;
	line-height    : 1.4em;
	vertical-align : middle;
	margin-right   : 4px;
	color          : rgb(78, 78, 78);
	list-style     : none;
	}

ul.tablePaginaterTop li span,
ul.tablePaginaterBottom li span {
	font            : 0.69em Arial, Helvetica, "Trebuchet MS", Verdana, sans-serif;
	display         : table-cell !important;
	display         : inline-block;
	text-align      : center;
	width           : 1.4em;
	height          : 1.4em;
	color           : rgb(78, 78, 78);
	padding         : 0.2em;
	min-width       : 1.4em;
	min-height      : 1.4em;
	text-decoration : none;
	outline         : none;
	border          : none;
	}

ul.tablePaginaterTop li a,
ul.tablePaginaterBottom li a {
	font            : bold 0.75em Arial, Helvetica, "Trebuchet MS", Verdana, sans-serif;
	display         : table-cell !important;
	display         : inline-block;
	text-align      : center;
	width           : 1.4em;
	height          : 1.4em;
	color           : rgb(78, 78, 78);
	padding         : 0.1em;
	min-width       : 1.4em;
	min-height      : 1.4em;
	text-decoration : none;
	outline         : none;
	border          : 1px solid rgb(222, 218, 213);
	cursor          : pointer;
	}

ul.tablePaginaterTop li a:focus,
ul.tablePaginaterBottom li a:focus {
	color           : rgb(78, 78, 78);
	text-decoration : none;
	outline         : none;
	border-color    : rgb(222, 218, 213);
	}
